<?xml version='1.0' encoding='utf-8'?>
<widget id="io.flawk.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flawk Mobile</name>
    <!-- <description>
	 	  Something
    </description>
    <author email="" href="https://">
        Someone
    </author> -->
    <content src="index.html" />
    <access origin="*" />

	 <!-- Allow links to example.com -->
	 <!-- <allow-navigation href="http://example.com/*" /> -->
	 <!-- Wildcards are allowed for the protocol, as a prefix to the host, or as a suffix to the path -->
	 <!-- <allow-navigation href="*://*.example.com/*" /> -->
	 <!-- A wildcard can be used to whitelist the entire network, over HTTP and HTTPS. *NOT RECOMMENDED* -->
	 <!-- <allow-navigation href="*" /> -->

    <!-- <preference name="Fullscreen" value="true" /> -->
	 <preference name="BackgroundColor" value="#1e1e1e"/>
	 <preference name="Orientation" value="portrait" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
