/* ! WARNING: Always use "font-display: swap;" in font-face declarations */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

/* @font-face {
	font-family: 'CorporateA';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/CorporateALight.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'CorporateA';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/CorporateABold.otf') format('opentype');
	font-display: swap;
}
 */
