<!DOCTYPE html>
<html lang="en">

<!-- https://codesandbox.io/s/handlebars-preview-th2bpt?file=/src/template.handlebars:0-3264 -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			background: rgba(238, 238, 238, 1);
			margin: 0px;
			padding: 0px;
			font-family: 'Montserrat', Verdana, sans-serif;
			color: black;
			font-size: 13px;
		}

		div {
			background: inherit;
		}

		h1 {
			font-size: 22px
		}

		h2 {
			font-size: 18px
		}

		#space {
			min-height: 25px;
		}

		#faded {
			opacity: .75;
			color: black
		}
	</style>
</head>

<body>
	<div style="padding:27px;">
		<div
			style="line-height:25px;border-radius:6px;background:white;max-width:407px;padding:30px;padding-left:45px;padding-right:45px;box-shadow:1px 2px 4px rgba(0,0,0,.1);margin:auto">
			<center>
				<svg width="35" height="35" viewBox="-10 -10 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="50.5" cy="50.5" r="50.5" fill="rgb(51, 108, 251)" />
					<path d="M50.5 50.5V84.016L20.927 67.258V33.7419L50.5 50.5Z" fill="#CECECE" />
					<path d="M80.073 33.7419V67.258L50.5 84.016V50.5L80.073 33.7419Z" fill="white" />
				</svg>

				<h1>
					Flawk
				</h1>
			</center>
			<div style="min-height:45px"></div>

			{{{body}}}

			<div id="space"></div>
		</div>
	</div>

	{{> footer}}
	{{> tracking}}
</body>

</html>