NPM_CONFIG_DISTURL="https://nodejs.org/download/release/"
NPM_CONFIG_PRODUCTION=true
NODE_ENV="production"
NODE_PATH=app/
PORT=8000

appName="Flawk"

adminPassword="XXXXXXXX"
databaseURL=".../project_dev"
frontendURL="https://something.com"
jwtSecret="XXXXXXXX"

recaptchaSecretKey=""~

postmarkKey=""
nodemailerHost=""
nodemailerUser=""
nodemailerPass=""
LogglySubdomain=""
LogglyToken=""
LogglyTag="project_dev"
LogglyCronTag="project_dev_cron"
SentryID=""
bucketEndpoint="https://XXXXX"
bucketName="XXXXX"
bucketAccessID="XXXXX"
bucketAccessSecret="XXXXX"
bucketFolder="project_dev"

production="false"
staging="false"
cronServer="false"
simulateProduction="false"
noEmails="true"
noSMS="true"
noPushNotifications="true"