<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shop</title>

	<style>
		h1 {
			font-size: 22px
		}

		h2 {
			font-size: 18px
		}

		p {
			font-size: 14px
		}
	</style>
</head>

<body>
	{{{body}}}
</body>

</html>