<div>
	<div>Hey {{firstName}},</div>
	<div id="space"></div>
	<div>The password for your account has been successfully reset.</div>
	<div>If you did not change it, please reset the password to protect your account.</div>
</div>