<div>
	<div>Hey {{firstName}},</div>
	<div id="space"></div>
	<div>Please enter the following code to complete the login:</div>

	<div id="space"></div>
	<div id="space"></div>

	<center>
		<a
			style="text-decoration:none;font-weight:bold;border-radius:6px;border:3px solid rgba(51,108,251, 1);background:rgba(0,0,0,.05);padding:8px;padding-left:13px;letter-spacing:7px;font-family:sans-serif;font-size:24px">{{code}}</a>
	</center>
</div>