REACT_APP_BACKEND=http://localhost:8000
REACT_APP_DOMAIN="https://yourdomain.com"
REACT_APP_STAGING=false
REACT_APP_GA_KEY=""
REACT_APP_RECAPTCHA_BYPASS=""
REACT_APP_SENTRY_KEY=""

REACT_APP_CORDOVA_BUILD=true