<div style="font-size:12px;padding:20px;text-align:center;line-height:10px; color:rgba(54,55,64,0.5);">
	<a id="faded" href="mailto:flawk@cakeslice.dev?subject=Question about Flawk - {{email}}">Contact</a>
	<div id="space"></div>
	<a id="faded" href="https://flawk.cakeslice.dev">flawk.cakeslice.dev</a>
</div>