NPM_CONFIG_DISTURL="https://nodejs.org/download/release/"
NPM_CONFIG_PRODUCTION=true
NODE_ENV="production"
NODE_PATH=app/
PORT=8000

adminPassword="XXXXXXXX"
databaseURL=".../project_dev"
frontendURL="https://something.com"
jwtSecret="XXXXXXXX"

recaptchaSecretKey=""

postmarkKey=""
nodemailerHost=""
nodemailerUser=""
nodemailerPass=""
emailTrackingURL="http://localhost:8000/backend/track_email"
LogtailToken=""
SentryID=""
bucketEndpoint="https://XXXXX"
bucketName="XXXXX"
bucketAccessID="XXXXX"
bucketAccessSecret="XXXXX"
bucketFolder="project_dev"

production="false"
staging="false"
noEmails="true"
noSMS="true"
noMobilePushNotifications="true"

publicVAPID=""
privateVAPID=""