_____NOTE_____="YOU ALSO NEED TO UPDATE THE DOCKERFILE IF YOU ADD NEW VARIABLES!"
VITE_BACKEND=http://YOUR_IP:8000
VITE_STAGING=false
VITE_DEV=true
VITE_CLARITY_KEY=""
VITE_GA_KEY=""
VITE_G_ADS_KEY=""
VITE_TWITTER_KEY=""
VITE_REDDIT_KEY=""
VITE_RECAPTCHA_KEY=""
VITE_SENTRY_KEY=""
VITE_VAPID_KEY=""
VITE_STRIPE_KEY=""