_____NOTE_____="YOU ALSO NEED TO UPDATE THE DOCKERFILE IF YOU ADD NEW VARIABLES!"
REACT_APP_BACKEND=http://YOUR_IP:8000
REACT_APP_DOMAIN="https://yourdomain.com"
REACT_APP_STAGING=false
REACT_APP_DEV=true
REACT_APP_GA_KEY=""
REACT_APP_G_ADS_KEY=""
REACT_APP_RECAPTCHA_KEY=""
REACT_APP_SENTRY_KEY=""
REACT_APP_VAPID_KEY=""