DOCKER_IMAGE="domain/project-prod:latest"
CAPROVER_URL="https://captain.XXX"
CAPROVER_PASSWORD=""
CAPROVER_APP=""
ANDROID_KEYSTORE_PASS=""
ANDROID_KEYSTORE_ALIAS=""

_____NOTE_____="YOU ALSO NEED TO UPDATE THE DOCKERFILE IF YOU ADD NEW VARIABLES!"
VITE_BACKEND=https://backend.yourdomain.com
VITE_STAGING=false
VITE_DEV=false
VITE_CLARITY_KEY=""
VITE_GA_KEY=""
VITE_G_ADS_KEY=""
VITE_TWITTER_KEY=""
VITE_REDDIT_KEY=""
VITE_RECAPTCHA_KEY=""
VITE_SENTRY_KEY=""
VITE_VAPID_KEY=""
VITE_STRIPE_KEY=""
