<div style="padding:30px">
	<div style="display:flex; flex-direction:column; align-items:center">
		<h1>Order Confirmation</h1>
		<p>Thank you {{name}}, we received your order.</p>
	</div>

	<h2>Your order: {{orderId}} </h2>
	<h2>Total price: ${{price}}</h2>
</div>